.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 95%;
    height: 75%;
    overflow: auto;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}