#scoreboard{
    /* border: 2px solid red; */
    display: flex;
    width: 95%;
    height: 4%;
    justify-content: space-around;
}

#current, #high{
    /* border: 2px solid green; */
    width: 30%;
    min-width: 150px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#current{
    background-color: rgb(94, 169, 255);
}

#high{
    background-color: rgb(106, 255, 106);
}